body,
html {
    width: 100%;
    font-family: poppins;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

header .logo {
    width: 10%;
}

header .cart {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

header .cart img {
    width: 15%
}

.wishlist h2 {
    font-size: 1.75vw;
}

.products-list {
    display: inline;
    width: 100%;
}

.products-list .catagories {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 10%;
}

.products-list .catagories h3 {
    font-size: 1.25vw;
}

.products h5 {
    font-size: .85vw;
}

.product {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products-list .products-list .product {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 10%;
}

.products-list .product-img {
    display: flex;
    align-items: center;
    width: 17%;
}

.products-list .product-img h5 {
    padding: 3%;
}

.products-list .product-img img {
    width: 60%;
    border-radius: 50%;
    background-color: #ebebeb;
    margin-bottom: 8%;
}

.products-list .quantity {
    display: flex;
    margin-right: 7%;
}

.checkout h2 {
    font-size: 1.75vw;
}

.total {
    text-align: center;
    font-size: 1vw;
}

footer {
    width: 100%;
    justify-content: center;
    text-align: center;
}

footer img {
    width: 12%;
}

footer h3 {
    font-size: 1.2vw;
}

footer h4 {
    font-size: 1vw;
    font-weight: 400;
}