body,
html {
    font-family: poppins;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

header .logo {
    width: 10%;
}

header .cart {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

header .cart img {
    width: 15%
}

.main-img {
    position: relative;
    margin: .25%;
}

.main-img img {
    width: 100%;
}

.text {
    position: absolute;
    top: 37%;
    color: white;
    left: 7%;
}

.text h1,
h3 {
    margin: 0;
    font-size: 3vw;
}

.items {
    width: 100%;
}

.all-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.all-items .item {
    margin: 2%;
}

.all-items .item .item-img {
    width: 100%;
    height: 70%;
    background-color: #EBEBEB;
}

.all-items .item .item-img img {
    width: 80%;
    margin-left: 10%;
    margin-top: 15%;
}

.item p {
    font-size: 1vw;
}

.detail {
    display: flex;
}

.price {
    display: flex;
    justify-content: space-between;
}

.price button {
    height: 100%;
    padding: 3%;
    background-color: #005C99;
    color: white;
    margin-top: 5%;
    border-radius: 5px;
    border: 0;
    font-size: .75vw;
}

footer {
    width: 100%;
    justify-content: center;
    text-align: center;
}

footer img {
    width: 12%;
}

footer h3 {
    font-size: 1.2vw;
}

footer h4 {
    font-size: 1vw;
    font-weight: 400;
}

.popup1 {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transform: scale(0.1);
    padding: 2%;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popup {
    width: 30%;
    background-color: white;
    position: fixed;
    top: 18%;
    left: 38%;
    padding-top: 3%;
    text-align: center;
}

.open-popup {
    visibility: visible;
    top: 0;
    transform: scale(1);
}

.popup .title h2 {
    font-size: 1.25vw;
    font-weight: 500;
    text-align: center;
}

.popup .title .close {
    width: 5%;
    position: absolute;
    top: 2%;
    right: 5%;
}

.popup .title .close img {
    width: 80%;
}

.popup .title h5 {
    font-weight: lighter;
    font-size: .85vw;
    text-align: center;
}

.popup .input input {
    width: 80%;
    padding: 3%;
    padding-left: 10%;
    margin-bottom: 2%;
    margin-left: 3.5%;
    font-size: 1vw;
    border-radius: 20px;
    border: 1px solid lightgray;
}

.popup .keep {
    display: flex;
    justify-content: space-evenly;
}

.popup .keep .keepin {
    display: flex;
    justify-content: space-evenly;
    margin-right: 10%;
}

.popup .keep .keepin h5 {
    font-weight: 500;
    font-size: .7vw;
}

.popup .keep input {
    width: 8%;
}

.popup button {
    width: 90%;
    border: none;
    border-radius: 20px;
    padding: 3%;
    font-size: 1vw;
    font-weight: 600;
    background-color: #ffba00;
    margin-left: 5%;
}

.popup .newmember {
    display: flex;
    justify-content: space-evenly;
}

.popup .newmember h5 {
    font-weight: 400;
    font-size: .9vw;
}

.popup .newmember h4 {
    font-weight: 600;
    font-size: 1vw;
}